h1  {color: black; text-align: center;}
p  {color: black; text-align: center;}
img {
  max-width: 50%;
  height: auto;
}

#div {
#  width: 100%;
#  height: 400px;
#  background-image: url('img_flowers.jpg');
#  background-size: cover;
#  border: 1px solid red;
#}
