.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  height: 300px;
}

h1  {color: blue; text-align: center;}
p  {color: black; text-align: center;}

h2  {color: black; text-align: center;}
p1  {color: black; text-align: center;}

.imageContainer {
    width: 70%;
    height: 800px;
    background-color: pink;
    border: 3px black;
  }


/*
.parent {
    position: relative;
    overflow: hidden;
    //optionally set height and width, it will depend on the rest of the styling used
}

.child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
*/

img {
  width: 400; 
  height: auto;
  object-fit: contain;
  border: 3px black;
}

.products .product .image-wrap img {
       background-color: pink; 
       border: 3px black;
    }

.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  height: 300px;
}

