.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  height: 300px;
}

h1  {color: blue; text-align: center;}
p  {color: black; text-align: center;}

h2  {color: black; text-align: center;}
p1  {color: black; text-align: center;}

.imageContainer {
    width: 1300px;
    height: 800px;
    background-color: pink;
    border: 3px black;
  }


.imageContainer img {
    display: block;
    width: 1300;
    height: auto;
    object-fit: contain;
  }
.products .product .image-wrap img {
       background-color: pink; 
    }

.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  height: 300px;
}

